.FilterBar {
  display: flex;
  align-items: center;
  background-color: white;
  height: 92px;
  border: 1px solid #d6d7da;
  margin-top: 64px;
  user-select: none;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.165);
}

.FilterBar__list {
  position: relative;
  display: flex;
  list-style: none;
}

.FilterBar__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 21px 29px;
  border-right: 1px solid #eee;
}

.FilterBar button {
  flex: 0.5;
  margin: 0 auto;
  border: 0;
  padding: 16px 45px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  background-color: steelblue;
  cursor: pointer;
  color: white;
}

.FilterBar button:hover {
  background-color: rgb(47, 105, 152);
}

.FilterBar__list__item__wrapper {
  display: flex;
  flex-direction: column;
}
