.Movie {
  display: flex;
  flex-direction: column;
  user-select: none;
  gap: 20px;
}

.Movie__Poster {
  max-width: 200px;
  max-height: 300px;
}

.Movie__Poster img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Movie__Details {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  height: 72px;
  gap: 6px;
}
