.Navbar {
  display: flex;
  align-items: center;
  height: 60px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.Navbar__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}

.Navbar__wrapper ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
